In [1]:
import pandas as pd

In [4]:
titles = pd.read_csv("data/titles.csv")
type(titles)

pandas.core.frame.DataFrame

# pandas data types
- DataFrame - m lines, n columns, Index
- Series - m lines, 1 column, Index
- Index

In [5]:
titles.shape

(270343, 2)

In [6]:
len(titles)

270343

In [7]:
titles

                                     title  year
0                         #1 Serial Killer  2013
1                                     #211  2018
2                                       #5  2013
3                               #50Fathers  2015
4                                      #66  2015
...                                    ...   ...
270338                             Þrestir  2015
270339                        Þriðja nafni  2003
270340                              ärtico  2014
270341  è solo questione di punti di vista  2012
270342           è solo questione di tempo  2013

[270343 rows x 2 columns]

In [9]:
titles.head(10)

                   title  year
0       #1 Serial Killer  2013
1                   #211  2018
2                     #5  2013
3             #50Fathers  2015
4                    #66  2015
5  #73, Shaanthi Nivaasa  2007
6                  #BKKY  2016
7            #BeaconHill  2018
8                #Beings  2015
9              #Captured  2017